<div class="page-wrapper">
    <div class="page-title">
        {{weatherDetail?.city?.name}}: Next 5 days weather forecast
    </div>

    <div class="page-content">
        <div class="card" *ngFor="let item of weatherList">
            <h3>{{item.dt_txt | date:'medium'}}</h3>
            <div>Temparature: {{item.main.temp}}&#8451;</div>
            <div>Sea Level: {{item.main.sea_level}}</div>
        </div>

    </div>
</div>