<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/" routerLinkActive="active" class="logo">
    #WeatherApp
  </a>

  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>