<div class="card-container">
    <a class="card" *ngFor="let city of cities" [routerLink]="[city.id]">
        <div class="card-title">{{city.name}}</div>
        <div>Temparature:
            <span class="temp-value">{{city.main.temp}}&#8451;</span>
        </div>
        <div>Sunrise: Not Available</div><!-- Not Available from API -->
        <div>Sunset: Not Available</div><!-- Not Available from API -->
    </a>

</div>